<a href="https://colab.research.google.com/github/Deurru/AISaturdaysProject/blob/master/ToxicityFlair.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Toxicity Classifier using LSTM and ZalandoÂ´s Flair

### 01 - Basic start operations:
Mount the GDrive structure containing the datasets, import and install all libraries we are going to use to work on data,  check if hardware accelerator is activated.

In [0]:
# Mount Google Drive (On every new session)

import os

from google.colab import drive

drive.mount("/content/drive/")

os.chdir("drive/My Drive")

In [0]:
# installs flair library
!pip install flair

In [0]:
# Main imports here
import torch
import flair
import numpy as np
import pandas as pd

In [5]:
# version checks (not mandatory)
print(torch.__version__)
print(flair.__version__)

1.0.1.post2
0.4.1

In [6]:
# checking for cuda (if false = GPU not activated. Go to Runtime > Change Runtime Type > Hardware Accelerator > Select "GPU")
print(torch.cuda.is_available())
print(torch.version.cuda)

False
10.0.130

In [7]:
# directory & dataset unzipping statements. Execute once, then comment.
!pwd # Checks working directory
# !unzip Datasets/jigsaw_unintended_bias_in_toxicity_classification.zip -d Datasets

/content/drive/My Drive

### 02 - Exploring the dataset

In [0]:
# define path to source file and load data into pandas dataframe
train_path = "./Datasets/train.csv"
dataset = pd.read_csv(train_path)

In [18]:
# check shape, column names and basic stats of attributes of dataset
print(dataset.shape)
print(dataset.columns)
print(dataset.describe())

(1804874, 45)
Index(['id', 'target', 'comment_text', 'severe_toxicity', 'obscene',
       'identity_attack', 'insult', 'threat', 'asian', 'atheist', 'bisexual',
       'black', 'buddhist', 'christian', 'female', 'heterosexual', 'hindu',
       'homosexual_gay_or_lesbian', 'intellectual_or_learning_disability',
       'jewish', 'latino', 'male', 'muslim', 'other_disability',
       'other_gender', 'other_race_or_ethnicity', 'other_religion',
       'other_sexual_orientation', 'physical_disability',
       'psychiatric_or_mental_illness', 'transgender', 'white', 'created_date',
       'publication_id', 'parent_id', 'article_id', 'rating', 'funny', 'wow',
       'sad', 'likes', 'disagree', 'sexual_explicit',
       'identity_annotator_count', 'toxicity_annotator_count'],
      dtype='object')
                 id        target  severe_toxicity       obscene  \
count  1.804874e+06  1.804874e+06     1.804874e+06  1.804874e+06
mean   3.738434e+06  1.030173e-01     4.582099e-03  1.387721e-02
std    2.445187e+06  1.970757e-01     2.286128e-02  6.460419e-02
min    5.984800e+04  0.000000e+00     0.000000e+00  0.000000e+00
25%    7.969752e+05  0.000000e+00     0.000000e+00  0.000000e+00
50%    5.223774e+06  0.000000e+00     0.000000e+00  0.000000e+00
75%    5.769854e+06  1.666667e-01     0.000000e+00  0.000000e+00
max    6.334010e+06  1.000000e+00     1.000000e+00  1.000000e+00

       identity_attack        insult        threat          asian  \
count     1.804874e+06  1.804874e+06  1.804874e+06  405130.000000
mean      2.263571e-02  8.115273e-02  9.311271e-03       0.011964
std       7.873156e-02  1.760657e-01  4.942218e-02       0.087166
min       0.000000e+00  0.000000e+00  0.000000e+00       0.000000
25%       0.000000e+00  0.000000e+00  0.000000e+00       0.000000
50%       0.000000e+00  0.000000e+00  0.000000e+00       0.000000
75%       0.000000e+00  9.090909e-02  0.000000e+00       0.000000
max       1.000000e+00  1.000000e+00  1.000000e+00       1.000000

             atheist       bisexual  ...     parent_id    article_id  \
count  405130.000000  405130.000000  ...  1.026228e+06  1.804874e+06
mean        0.003205       0.001884  ...  3.722687e+06  2.813597e+05
std         0.050193       0.026077  ...  2.450261e+06  1.039293e+05
min         0.000000       0.000000  ...  6.100600e+04  2.006000e+03
25%         0.000000       0.000000  ...  7.960188e+05  1.601200e+05
50%         0.000000       0.000000  ...  5.222993e+06  3.321260e+05
75%         0.000000       0.000000  ...  5.775758e+06  3.662370e+05
max         1.000000       1.000000  ...  6.333965e+06  3.995410e+05

              funny           wow           sad         likes      disagree  \
count  1.804874e+06  1.804874e+06  1.804874e+06  1.804874e+06  1.804874e+06
mean   2.779269e-01  4.420696e-02  1.091173e-01  2.446167e+00  5.843688e-01
std    1.055313e+00  2.449359e-01  4.555363e-01  4.727924e+00  1.866589e+00
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00  0.000000e+00  3.000000e+00  0.000000e+00
max    1.020000e+02  2.100000e+01  3.100000e+01  3.000000e+02  1.870000e+02

       sexual_explicit  identity_annotator_count  toxicity_annotator_count
count     1.804874e+06              1.804874e+06              1.804874e+06
mean      6.605974e-03              1.439019e+00              8.784694e+00
std       4.529782e-02              1.787041e+01              4.350086e+01
min       0.000000e+00              0.000000e+00              3.000000e+00
25%       0.000000e+00              0.000000e+00              4.000000e+00
50%       0.000000e+00              0.000000e+00              4.000000e+00
75%       0.000000e+00              0.000000e+00              6.000000e+00
max       1.000000e+00              1.866000e+03              4.936000e+03

[8 rows x 42 columns]

In [14]:
dataset.head()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,"This is so cool. It's like, 'would you want yo...",0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.000000,Thank you!! This would make my life a lot less...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.000000,This is such an urgent design problem; kudos t...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
3,59855,0.000000,Is this something I'll be able to install on m...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.0,0.021277,0.87234,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.0,4,47

In [15]:
dataset.tail()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
1804869,6333967,0.000000,"Maybe the tax on ""things"" would be collected w...",0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,399385,approved,0,0,0,0,0,0.0,0,4
1804870,6333969,0.000000,What do you call people who STILL think the di...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,399528,approved,0,0,0,0,0,0.0,0,4
1804871,6333982,0.000000,"thank you ,,,right or wrong,,, i am following ...",0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,399457,approved,0,0,0,0,0,0.0,0,4
1804872,6334009,0.621212,Anyone who is quoted as having the following e...,0.030303,0.030303,0.045455,0.621212,0.0,NaN,NaN,...,399519,approved,0,0,0,0,0,0.0,0,66
1804873,6334010,0.000000,Students defined as EBD are legally just as di...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN,...,399318,approved,0,0,0,0,0,0.0,0,4

,id,target,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,bisexual,...,parent_id,article_id,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
count,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06,405130.000000,405130.000000,405130.000000,...,1.026228e+06,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06,1.804874e+06
mean,3.738434e+06,1.030173e-01,4.582099e-03,1.387721e-02,2.263571e-02,8.115273e-02,9.311271e-03,0.011964,0.003205,0.001884,...,3.722687e+06,2.813597e+05,2.779269e-01,4.420696e-02,1.091173e-01,2.446167e+00,5.843688e-01,6.605974e-03,1.439019e+00,8.784694e+00
std,2.445187e+06,1.970757e-01,2.286128e-02,6.460419e-02,7.873156e-02,1.760657e-01,4.942218e-02,0.087166,0.050193,0.026077,...,2.450261e+06,1.039293e+05,1.055313e+00,2.449359e-01,4.555363e-01,4.727924e+00,1.866589e+00,4.529782e-02,1.787041e+01,4.350086e+01
min,5.984800e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,6.100600e+04,2.006000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
25%,7.969752e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,7.960188e+05,1.601200e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
50%,5.223774e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,5.222993e+06,3.321260e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
75%,5.769854e+06,1.666667e-01,0.000000e+00,0.000000e+00,0.000000e+00,9.090909e-02,0.000000e+00,0.000000,0.000000,0.000000,...,5.775758e+06,3.662370e+05,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00
max,6.334010e+06,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,...,6.333965e+06,3.995410e+05,1.020000e+02,2.100000e+01,3.100000e+01,3.000000e+02,1.870000e+02,1.000000e+00,1.866000e+03,4.936000e+03

### 03 - Cleaning the Dataset
Dropping columnswe do not need for the type of training we are going to choose, eliminating NaNs, normalizing variables, removing outliers (scores too high, texts too long, etc.).

### 04 - Defining Dataloaders
Splitting the dataset into training and validation (test set already available), defining transforms, creating dataloaders.

###05 - Defining Network Architecture
Defining our LSTM, creating and implementing its functions (train, backprop, etc)

###06 - Training the Model
Defining the modelÂ´s hyperparameters.
Running our train data through the model, checking loss, saving the better fitting model, fine tuning hyperparameters.

###07 - Validating the Model
Running our validation dataset through the model. Repeating step 06 if necessary.

###08 - Testing the model
After 06 and 07 have been completed satisfactorily, running the test set through the model. If the model generalizes well, then saving the model. Otherwise, start from 6 from scratch.